    <section class="hero-area">
            <h1>Discover the power of social selling</h1>
            
            {{#if isAuthenticated}}
                <a href="/user/profile" class="link-btn">Profile</a>
            {{else}}
                <a href="/user/register" class="link-btn">Apply</a>
            {{/if}}
            
        </section>
    </header>
    <section class="videos">
        <h1>Get Exploring {{#if user.isSuperUser}}<a href="/video/create"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>{{/if}}</h1>
        <div class="video-gallery">
            {{#if videos}}
                {{#each videos}}
                    <div class="single-video">
                        <div class="video-box">
                            <iframe 
                                width="300" 
                                height="200"
                                src="https://www.youtube.com/embed/{{this.video_url}}?controls=0" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                aria-controls="hidden"
                                allowfullscreen
                            ></iframe>
                        </div>
                        {{#if ../user.isSuperUser}}
                            <div class="controls">
                                <a href="/video/{{this.id}}/update" class='edit'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                <a href="/video/{{this.id}}/delete" class='delete'><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                            </div>
                        {{/if}}
                        <h3>{{this.title}}</h3>
                        <p>{{this.description}}</p>
                    </div>

                {{/each}}
            {{/if}}
            
        </div>
    </section>
    <section class="how-it-works" style="background-image: linear-gradient(to right , rgba(77, 64, 184, 0.8) , rgba(179, 84, 190, 0.9)) , url(https://images.unsplash.com/photo-1452690700222-8a2a1a109f4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);">
        <h1>How It Works {{#if user.isSuperUser}}<a href="/method/create"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>{{/if}}</h1>
        <div class="methods">
            {{#if methods}}
                {{#each methods}}
                    <div class="method">
                        <img src="{{this.image_url}}" alt="">
                        {{#if ../user.isSuperUser}}
                            <div class="controls">
                                <a href="/method/{{this.id}}/update" class='edit'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                <a href="/method/{{this.id}}/delete" class='delete'><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                            </div>
                        {{/if}}
                        <div class="info">
                            <h3>{{this.title}}</h3>
                            
                            <p>{{this.description}}</p>
                        </div>
                    </div>
                {{/each}}
            {{/if}}

            {{#if non_field_errors}}
                <p>{{non_field_errors}}</p>
            {{/if}}
        </div>
    </section>
    <section class="testimonials">
        <h1>What People say {{#if user.isSuperUser}}<a href="/testimonial/create"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>{{/if}}</h1>
        <div class="testimonial-list">
            {{#if testimonials}}
                {{#each testimonials}}
                    <div class="single-testimonial">
                        <img src="{{this.display_image_url}}" alt="">
                        {{#if ../user.isSuperUser}}
                            <div class="controls">
                                <a href="/testimonial/{{this.id}}/update" class='edit'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                <a href="/testimonial/{{this.id}}/delete" class='delete'><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                            </div>
                        {{/if}}
                        <div class="text">
                            <h5 class="name">{{this.full_name}}</h5>
                            <p>{{this.text}}</p>
                        </div>
                    </div>
                {{/each}}

            {{/if}}
        </div>
    </section>