<section class="hero-area">
            {{#if user.display_image_url}}

            {{else}}
                <img class="profile-pic {{#if user.isSuperUser}}superuser{{/if}}" src="https://ui-avatars.com/api/?name={{user.first_name}}+{{user.last_name}}& size=300x300&color=4D40B8" alt="" srcset="">
            {{/if}}
            <h1>{{user.first_name}} {{user.last_name}} <a href="/user/profile/update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h1>
            {{#if user.isStaff}}
                <p class="staff-tag">Staff User</p>
            {{/if}}
            <p><i class="fa fa-envelope-open" aria-hidden="true"></i> {{user.email}}</p>
            <p><i class="fa fa-phone-square" aria-hidden="true"></i> {{user.phone}}</p>
            
        </section>
    </header>