    <section class="hero-area">
        <h1>{{#if fromCreate}}Add a new Brand{{/if}}{{#if fromUpdate}}Edit Brand | {{brand.full_name}}{{/if}}</h1>
        <p>It's about your details | Fill in the blanks</p>
        {{#if fieldErrors}}
            <div class="field-errors">
                {{#each fieldErrors.errors}}
                    <div class="single-error">
                        <h4>{{this.param}}</h4>
                        <p>{{this.msg}}</p>
                    </div>
                    
                {{/each}}
            </div>
        {{/if}}
    </section>
</header>

<section class="testimonial-form">
    <form method="POST" to='{{#if fromCreate}}/brand/create{{/if}}{{#if fromUpdate}}/brand/{{brand.id}}/update{{/if}}'>
        <div class="form-group">
            <h4>Information</h4>
            <input type="text" name='full_name' placeholder="Full Name of your company" value="{{brand.full_name}}">
            <input type="text" name='short_name' placeholder="Short Name of your company" value="{{brand.short_name}}">
            <input type="url" name='logo_url' placeholder="Paste Logo Image Link" value={{brand.logo_url}}>
            
            
    
        </div>
        <div class="form-group">
            <h4>About</h4>
            <div id="toolbar-container"></div>
            <textarea name="about" class='text-field'  cols="30" rows="10" placeholder="Describe your company">{{brand.about}}</textarea>
        </div>
        <div class="form-group">
            <h4>Social Media</h4>
            <input type="url" name='facebook_link' placeholder="Paste your company facebook link" value={{brand.facebook_link}}>
            <input type="url" name='twitter_link' placeholder="Paste your company facebook link" value={{brand.twitter_link}}>
            <input type="url" name='instagram_link' placeholder="Paste your company facebook link" value={{brand.instagram_link}}>
            
            
            <input type="hidden" name="_csrf" value={{csrfToken}}>
            <button class="button-2" type='submit'>{{#if fromCreate}}Create{{/if}}{{#if fromUpdate}}Update{{/if}}</button>
        </div>
    </form>
</section>